/* Content
-----------------------------------------------------------------------------*/

.content {
}

.promo-panel {
	background: $blue;
	margin: 0 0 6px;
}

.promo-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;

	&__item {
		height: 80px;
		border-bottom: 1px solid lighten($blue, 10);

		@media (min-width: 768px) {
			float: left;
			width: 50%;
			border-bottom: 0;
		}

		@media (min-width: 992px) {
			display: table-cell;
			vertical-align: top;
			float: none;
			width: auto;
			height: 122px;
			text-align: center;
		}

		@media (min-width: 1200px) {
			height: 98px;

			&:first-child {
				text-align: left;
			}

			&:last-child {
				text-align: right;
			}
		}
	}

	&__text {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}

	&__link {
		position: relative;
		color: #fff;
		display: block;
		padding: 20px 0 0 100px;
		height: 80px;
		text-decoration: none;

		@media (min-width: 992px) {
			height: 122px;
			padding-left: 0;
			padding-top: 5px;
		}

		@media (min-width: 1200px) {
			height: 98px;
			padding: 19px 0 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(#fff, .1);
			opacity: 0;
			@include transition (all linear .2s);

			@media (min-width: 768px) {
				top: -5px;
			}
		}

		&:hover {
			text-decoration: none;
			color: #fff;

			&:before {
				opacity: 1;
			}
		}
	}

	&__icon {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 60px;
		margin: auto;
		@include transform(translateX(-50%) scale(0.5));

		@media (min-width: 992px) {
			position: static;
			@include transform(scale(0.5));
		}

		@media (min-width: 1200px) {
			@include transform(scale(0.8));
		}

		@media (min-width: 1350px) {
			@include transform(scale(1));
			margin-right: 15px;
		}

		&.help {
			@extend .icon-menu-help_b;
		}

		&.money {
			height: 59px;
			width: 88px;

			@media (min-width: 1350px) {
				margin-right: 9px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				@extend .icon-menu-money_b;
			}
		}

		&.costs {
			@extend .icon-menu-costs_b;
		}

		&.calc {
			@extend .icon-menu-calc_b;

			@media (min-width: 1350px) {
				margin-right: 18px;
			}
		}
	}

	&__title {
		margin: 0 0 5px;
		text-transform: uppercase;
		font: 14px/1.2 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	}

	&__descr {
		margin: 0;
		font: 15px/1.2 Arial, Helvetica, sans-serif;
	}
}

.content-section{
	margin: 34px 0;

	&.m40 {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

.articles-carousel {
	margin: 0 0 40px;

	@media (min-width: 768px) {
		float: left;
		margin: 0 5.078125% 0 0;
		width: 57.578125%;
	}

	.item {
		padding: 0 0 0 170px;
		height: 144px;
	}

	&__photo {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 141px;
		max-height: 142px;
		padding: 2px 0 0;
		border-bottom: 5px solid $blue;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__title {
		margin: 0 0 7px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-transform: uppercase;
		color: $blue;
		font: 14px/1.2 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		letter-spacing: -0.01em;

		a {
			color: $blue;
			text-decoration: none;

			&:hover {
				color: darken($blue, 15);
				text-decoration: underline;
			}
		}
	}

	p {
		margin: 0;
		max-height: 72px;
		overflow: hidden;
		color: #6e6e6e;
		font: 13.75px/18px Arial, Helvetica, sans-serif;
		letter-spacing: -0.01em;
	}

	&__controls {
		position: absolute;
		height: 35px;
		background: #f6f6f6;
		text-align: right;
		bottom: 0;
		right: 0;
		left: 170px;
	}

	.carousel-indicators {
		bottom: 0;
		left: 0;
		width: auto;
		display: inline-block;
		padding: 0;
		margin: 0;
		position: relative;
		top: -2px;
		line-height: 30px;
		vertical-align: middle;

		li {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $blue;
			opacity: .5;
			border: 0;
			margin: 0 0 0 3px;

			&.active {
				opacity: 1;
			}
		}
	}

	.carousel-control {
		height: 100%;
		display: inline-block;
		width: 35px;
		background: $blue;
		cursor: pointer;
		position: relative;
		vertical-align: middle;
		opacity: 1;
		margin: 0 0 0 5px;
		@include transition (all linear .2s);

		&:hover {
			background: darken($blue, 15);
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			@extend .icon-arrow-r;
		}
	}
}

.news-carousel {

	@media (min-width: 768px) {
		float: left;
		width: 37.34375%;
	}

	&__panel {
		background: $blue;
		padding: 0 0 0 15px;
		margin: 3px 0 12px;
	}

	&__controls {
		float: right;
		height: 35px;
	}

	.carousel-indicators {
		bottom: 0;
		left: 0;
		width: auto;
		display: inline-block;
		padding: 0;
		margin: 0;
		position: relative;
		top: -2px;
		line-height: 30px;
		vertical-align: middle;

		li {
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #fff;
			opacity: .44;
			border: 0;
			margin: 0 0 0 3px;

			&.active {
				opacity: 1;
			}
		}
	}

	.carousel-control {
		height: 100%;
		display: inline-block;
		width: 35px;
		background: #5195c0;
		cursor: pointer;
		position: relative;
		vertical-align: middle;
		opacity: 1;
		margin: 0 0 0 5px;
		@include transition (all linear .2s);

		&:hover {
			background: darken(#5195c0, 15);
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			@extend .icon-arrow-r;
		}
	}

	&__header {
		margin: 0;
		padding: 9px 0 10px;
		float: left;
		color: #fff;
		font: 14px/1.2 'Arial Black', 'Arial Bold', Gadget, sans-serif;
		letter-spacing: -0.01em;
		text-transform: uppercase;
	}

	&__title {
		margin: 0 0 8px;
		padding: 0;
		color: #5b5b5b;
		font: 14px/1.2 'Arial Black', 'Arial Bold', Gadget, sans-serif;

		a {
			color: #5b5b5b;
			text-decoration: none;

			&:hover {
				color: darken($blue, 15);
				text-decoration: underline;
			}
		}
	}

	&__date {
		margin: 0 0 8px;
		color: #5aaadc;
		font: 12px/1.2 'Arial Black', 'Arial Bold', Gadget, sans-serif;
	}

	p {
		margin: 0;
		max-height: 54px;
		overflow: hidden;
		color: #6e6e6e;
		font: 13.75px/18px Arial, Helvetica, sans-serif;
		letter-spacing: -0.003em;
	}
}

.functions{
	border-top: 5px solid #5aaadc;
	border-bottom: 5px solid #5aaadc;
	margin: 40px -30px;

	@media (min-width: 768px) {
		margin: 34px -9999px 40px;
	}

	&__item{
		display: block;
		position: relative;
		padding: 1px 64px 11px 30px;

		@media (min-width: 700px) {
			width: 33.3%;
			float: left;
			padding: 12px 30px 12px;
			margin: 0;
			height: 205px;
			border-bottom: 1px solid #5aaadc;
		}

		@media (min-width: 992px) {
			width: 20%;
			margin: -5px 0;
			height: 235px;
			border-top: 5px solid #5aaadc;
			border-bottom: 5px solid #5aaadc;
		}

		@media (min-width: 1200px) {
			height: 205px;
		}

		&:before,
		&:after{
			opacity: 0;
			pointer-events:none;
			z-index: 1;
			@include transition (opacity linear .2s);
		}

		&:first-child{
			.functions__title{
				&:after,
				&:before{
					display: none;
				}
			}
		}

		&:hover{
			text-decoration: none;
			color: #fff;
			background: #5aaadc;
			border-color: #447ea2;
			z-index: 1;

			.functions__title{
				color: #fff;

				&:after,
				&:before{
					display: none;
				}
			}

			.functions__desc{
				color: #fff;
			}

			.functions__pointer:after{
				opacity: 1;
			}

			.functions__pointer-line{
				left: 30px;
				right: 30px;
			}

			&:before{
				content: '';
				position: absolute;
				right: -22px;
				top: 0;
				bottom: 0;
				opacity: 1;
				border-left: 1px solid #fff;
				@extend .icon-functions-shadow_r;
			}

			&:after{
				content: '';
				position: absolute;
				left: -22px;
				top: 0;
				bottom: 0;
				opacity: 1;
				border-right: 1px solid #fff;
				@extend .icon-functions-shadow_l;
			}

			&+.functions__item{
				.functions__title:after,
				.functions__title:before{
					display: none;
				}
			}
		}
	}

	&__title{
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		color: #5195c0;
		margin: 20px 0 9px;
		@include transition (all linear .2s);

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 29px;
			bottom: 29px;
			width: 1px;
			background: #e1e1e1;
		}

		&:after{
			content: '';
			position: absolute;
			left: -2px;
			bottom: 24px;
			width: 5px;
			height: 5px;
			background: #e1e1e1;
			border-radius: 50%;
		}

		@media (min-width: 992px) {
			font-size: 14px;
		}

		@media (min-width: 1350px) {
			font-size: 18px;
		}
	}

	&__desc{
		font-size: 14px;
		color: #6e6e6e;
		@include transition (all linear .2s);
	}

	&__pointer{
		position: absolute;
		z-index: 1;
		right: 20px;
		top: 50%;
		margin: -25px 0 0 0;
		@extend .icon-functions-pointer;

		&:after{
			content: '';
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			@extend .icon-functions-pointer_h;
			@include transition (opacity linear .2s);
		}

		@media (min-width: 700px) {
			top: auto;
			right: auto;
			left: 50%;
			margin: 0 0 0 -24px;
			bottom: 25px;
		}
	}

	&__pointer-line{
		position: absolute;
		bottom: 50px;
		left: 50%;
		right: 50%;
		height: 1px;
		background: #fff;
		@include transition (all linear .2s);
		display: none;
		
		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: -2px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #fff;
			box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
		}
		
		&:before{
			content: '';
			position: absolute;
			right: 0;
			top: -2px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: #fff;
			box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
		}

		@media (min-width: 700px) {
			display: block;
		}
	}
}

.teasers{
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 14px;

	&__item{
		display: block;
		clear: both;
		margin: 16px 0;
  		min-height: 90px;
	}
	
	&__icon{
		float: left;
		margin: 0 12px 0 0;
	}

	&__desc{
		margin: 0 0 0 130px;
	}

	&__title{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		color: #5aaadc;
		padding: 0;
		margin: 0 0 11px;
	}

	&__link{
		color: #5aaadc;

		&:hover{
			color: #5aaadc;
			text-decoration: none;
		}
	}

	&__p{
		color: #676767;
		padding: 0;
		margin: 0;
		line-height: 1.3;
	}

	@media (min-width: 992px) {
		&__item{
			clear: none;
			float: left;
			margin: 0 0 0 1%; 

			&.item_1{
				width: 35%;
			}

			&.item_2{
				width: 35%;
			}

			&.item_3{
				width: 28%;
			}

			&:first-child{
				margin: 0;
			}
		}

		&__desc{
			overflow: hidden;
			margin: 0;
		}
	}
}

.adv-carousel{
	max-width: 410px;
	margin: 16px auto;

	&__img{
		width: 100%;
	}

	@media (min-width: 768px) {
		width: 300px;
		float: right;
		margin: 16px 0 0 40px;
	}

	@media (min-width: 992px) {
		width: 410px;
	}

	.carousel-indicators{
		left: 20px;
		width: auto;
		margin: 0;
		bottom: 16px;

		li{
			background: #fff;
			width: 10px;
			height: 10px;
			margin: 0 3px;
		}
	}
}

.news{
	overflow: hidden;
	position: relative;
	padding: 0;

	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 16px;
		right: 0;
		height: 1px;
		background: #e5e5e5;
	}

	&__title{
		position: relative;
		text-transform: uppercase;
		font: 18px/1.28 Arial, Helvetica, sans-serif;
		font-weight: bold;
		color: #5eb4e9;
		background: #fff;
		z-index: 1;
		padding: 0 18px 18px 0;
		margin: 0;
		display: inline-block;
	}
}

.news-list{
	font: 12px/1.28 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	list-style: none;

	&__item{
		margin: 14px 0;
	}

	&__img{
		float: left;
		margin: 0 18px 0 0;
	}

	&__title{
		padding: 0;
		margin: 0;
		font-size: 14px;
		line-height: 1.1;
		font-weight: bold;
		margin: 0 0 2px;
	}

	&__link{
		color: #727272;

		&:hover{
			text-decoration: none;
			color: #5aaadc;
		}
	}

	&__desc{
		overflow: hidden;
	}

	&__p{
		font-size: 12px;
		padding: 0;
		margin: 0;
		line-height: 1.5;
	}
}

.articles-crsl{
	padding: 0;
	margin: 0;
	list-style: none;
	clear: both;
	overflow: hidden;
	text-align: center;

	&__item{
		overflow: hidden;
		width: 49%;
		display: inline-block;
		text-align: left;

		.item{
			margin: 48px 0 0;
		}

		@media (min-width: 768px) {
			width: 236px;
		}

		@media (min-width: 1200px) {
			float: left;
			width: 20%;
		}
	}

	&__slider{
		padding: 0;
	}

	&__img{
		width: 100%;
	}

	&__title{
		font: 12px/1.3 Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		position: absolute;
		left: 0;
		top: 0;
		right: 50px;
		padding: 18px 0 15px 3px;
		margin: 0;
		background: #5aaadc;
		text-align: center;
		color: #fff;
		z-index: 3;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__nav{
		bottom: 11px;
		left: 20px;
		z-index: 15;
		width: auto;
		padding-left: 0;
		margin: 0;
		z-index: 2;

		li{
			width: 8px;
			height: 8px;
			background: #5eb4e9;
			border: 0;
			margin: 0 2px;

			&.active{
				width: 8px;
				height: 8px;
				background: #fff;
				border: 0;
				margin: 0 2px;
			}
		}
	}

	&__prev{
		display: none;
	}

	&__desc-btn{
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 48px;
		background: #5195c0;
		z-index: 2;
		text-align: center;
		line-height: 46px;

		.icon-arrow-b{
			@include transition (all linear .2s);
		}

		&:hover{
			cursor: pointer;
			&+.articles-crsl__desc{
				@include transform(translateY(100%));
			}

			&+.articles-crsl__nav{
				display: none;
			}

			.icon-arrow-b{
				transform: rotate(180deg);
			}
		}
	}

	&__desc{
		font-size: 12px;
		line-height: 1.5;
		position: absolute;
		padding: 79px 26px 0;
		top: -100%;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(90, 170, 220, 0.85);
		color: #fff;
		z-index: 1;
		@include transition (all linear .2s);
	}

	&__next{
		position: absolute;
		right: 0;
		bottom: 0;
		top: auto;
		width: 48px;
		height: 48px;
		opacity: 1;
		line-height: 45px;
		background-image: none !important;
		background: rgba(94, 180, 233, 0.85);
		z-index: 2;
	}
}